<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="mainCtrl.js"></script>
	</head>
	<body>

		<div ng-app="githubViewer" style="text-align:center;">
			<div ng-controller="MainCtrl">
				<input type="search" ng-model="inputName" />
				<input type="button" value="search" ng-click="search(inputName)"></input>

				<div>
					<h3>{{name}}</h3>
				</div>
				<div ng-show="name">
					<select ng-model="orderByOpt">
						<option value="+name">name</option>
						<option value="-language">language</option>
					</select>
				</div>

				<div id="repoTable" ng-show="name">
					<table>
						<thead>
							<tr>
								<th>name</th>
								<th>language</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="repo in repos | orderBy:orderByOpt">
								<td>{{repo.name}}</td>
								<td>{{repo.language}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>